In [1]:
import pandas as pd
import sys
import pandas as pd
import pymongo
import json
from sqlalchemy import create_engine

In [2]:
car_file = "Resources/Car_sales.csv"

In [3]:
car_df = pd.read_csv(car_file)
car_df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-Aug-15

In [4]:
car_df['Manufacturer']=car_df['Manufacturer'].str.strip()
car_df['Model']=car_df['Model'].str.strip()
car_df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-Aug-15

In [5]:
details_df = car_df[['Manufacturer', 'Model', 'Vehicle type', 'Engine size', 'Horsepower','Wheelbase', 'Width', 'Length','Curb weight', 'Fuel capacity','Fuel efficiency','Latest Launch']]
details_df.head()

,Manufacturer,Model,Vehicle type,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,Passenger,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2-Feb-14
1,Acura,TL,Passenger,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6-Mar-15
2,Acura,CL,Passenger,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1-Apr-14
3,Acura,RL,Passenger,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3-Oct-15
4,Audi,A4,Passenger,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-Aug-15

In [6]:
price_data = car_df[['Manufacturer', 'Model', '4-year resale value', 'Price in thousands', 'Sales in thousands']]
price_data.head()

,Manufacturer,Model,4-year resale value,Price in thousands,Sales in thousands
0,Acura,Integra,16.360,21.50,16.919
1,Acura,TL,19.875,28.40,39.384
2,Acura,CL,18.225,NaN,14.114
3,Acura,RL,29.725,42.00,8.588
4,Audi,A4,22.255,23.99,20.397

In [7]:
manufacturer_sales = car_df[['Manufacturer', 'Sales in thousands','Price in thousands']]
manufacturer_sales['Price in thousands']
manufacturer_sales.head()

  Manufacturer  Sales in thousands  Price in thousands
0        Acura              16.919               21.50
1        Acura              39.384               28.40
2        Acura              14.114                 NaN
3        Acura               8.588               42.00
4         Audi              20.397               23.99

In [8]:
manufacturer_list=manufacturer_sales['Manufacturer'].unique()

In [9]:
manufacturer_sales.dtypes

Manufacturer           object
Sales in thousands    float64
Price in thousands    float64
dtype: object

In [10]:
group = manufacturer_sales.groupby('Manufacturer')

In [11]:
price = group['Price in thousands'].mean()

In [12]:
sales = group['Sales in thousands'].sum()

In [13]:
sales_df = pd.DataFrame(sales)
price_df = pd.DataFrame(price)
price_df.head()

              Price in thousands
Manufacturer
Acura                  30.633333
Audi                   39.980000
BMW                    33.096667
Buick                  26.781250
Cadillac               40.254000

In [14]:
sort_price = price_df.sort_values(by = 'Price in thousands')
sort_price

               Price in thousands
Manufacturer
Hyundai                 12.165667
Saturn                  14.271000
Volkswagen              17.698333
Chevrolet               20.022778
Honda                   20.277000
Mercury                 20.748333
Jeep                    20.991667
Ford                    21.047273
Subaru                  21.395000
Toyota                  21.982889
Mitsubishi              22.167429
Nissan                  22.360714
Plymouth                22.642500
Pontiac                 22.949167
Chrysler                23.430833
Dodge                   24.213636
Oldsmobile              25.622833
Buick                   26.781250
Infiniti                29.465000
Saab                    29.610000
Acura                   30.633333
Volvo                   30.933333
BMW                     33.096667
Audi                    39.980000
Cadillac                40.254000
Lincoln                 41.690000
Jaguar                  42.800000
Lexus                   44.055000
Mercedes-Benz           52.916667
Porsche                 62.473333

In [15]:
sort_sales = sales_df.sort_values(by = 'Sales in thousands')
sort_sales

               Sales in thousands
Manufacturer
Porsche                    12.128
Jaguar                     15.467
Saab                       21.306
Infiniti                   23.713
Audi                       40.557
BMW                        46.505
Plymouth                   64.001
Volvo                      75.740
Acura                      79.005
Subaru                     80.135
Lincoln                    85.634
Lexus                     106.843
Cadillac                  112.178
Mercedes-Benz             117.125
Hyundai                   137.326
Saturn                    168.850
Oldsmobile                178.989
Mitsubishi                180.895
Chrysler                  201.721
Volkswagen                209.212
Mercury                   237.999
Buick                     242.019
Jeep                      293.153
Pontiac                   370.534
Nissan                    399.635
Chevrolet                 554.365
Honda                     592.674
Toyota                    740.205
Dodge                     910.149
Ford                     2022.635

In [16]:
manufacturer_input=sales_df.merge(price_df, on='Manufacturer')
manufacturer_input

               Sales in thousands  Price in thousands
Manufacturer
Acura                      79.005           30.633333
Audi                       40.557           39.980000
BMW                        46.505           33.096667
Buick                     242.019           26.781250
Cadillac                  112.178           40.254000
Chevrolet                 554.365           20.022778
Chrysler                  201.721           23.430833
Dodge                     910.149           24.213636
Ford                     2022.635           21.047273
Honda                     592.674           20.277000
Hyundai                   137.326           12.165667
Infiniti                   23.713           29.465000
Jaguar                     15.467           42.800000
Jeep                      293.153           20.991667
Lexus                     106.843           44.055000
Lincoln                    85.634           41.690000
Mercedes-Benz             117.125           52.916667
Mercury                   237.999           20.748333
Mitsubishi                180.895           22.167429
Nissan                    399.635           22.360714
Oldsmobile                178.989           25.622833
Plymouth                   64.001           22.642500
Pontiac                   370.534           22.949167
Porsche                    12.128           62.473333
Saab                       21.306           29.610000
Saturn                    168.850           14.271000
Subaru                     80.135           21.395000
Toyota                    740.205           21.982889
Volkswagen                209.212           17.698333
Volvo                      75.740           30.933333

In [17]:
manufacturer_input['manufacturer'] = manufacturer_list
manufacturer_input = manufacturer_input[['manufacturer','Price in thousands','Sales in thousands']]

In [18]:
manufacturer_input_json = manufacturer_input.to_json(orient='records')
print(manufacturer_input_json)

[{"manufacturer":"Acura","Price in thousands":30.6333333333,"Sales in thousands":79.005},{"manufacturer":"Audi","Price in thousands":39.98,"Sales in thousands":40.557},{"manufacturer":"BMW","Price in thousands":33.0966666667,"Sales in thousands":46.505},{"manufacturer":"Buick","Price in thousands":26.78125,"Sales in thousands":242.019},{"manufacturer":"Cadillac","Price in thousands":40.254,"Sales in thousands":112.178},{"manufacturer":"Chevrolet","Price in thousands":20.0227777778,"Sales in thousands":554.365},{"manufacturer":"Chrysler","Price in thousands":23.4308333333,"Sales in thousands":201.721},{"manufacturer":"Dodge","Price in thousands":24.2136363636,"Sales in thousands":910.149},{"manufacturer":"Ford","Price in thousands":21.0472727273,"Sales in thousands":2022.635},{"manufacturer":"Honda","Price in thousands":20.277,"Sales in thousands":592.674},{"manufacturer":"Hyundai","Price in thousands":12.1656666667,"Sales in thousands":137.326},{"manufacturer":"Infiniti","Price in thousands":29.465,"Sales in thousands":23.713},{"manufacturer":"Jaguar","Price in thousands":42.8,"Sales in thousands":15.467},{"manufacturer":"Jeep","Price in thousands":20.9916666667,"Sales in thousands":293.153},{"manufacturer":"Lexus","Price in thousands":44.055,"Sales in thousands":106.843},{"manufacturer":"Lincoln","Price in thousands":41.69,"Sales in thousands":85.634},{"manufacturer":"Mitsubishi","Price in thousands":52.9166666667,"Sales in thousands":117.125},{"manufacturer":"Mercury","Price in thousands":20.7483333333,"Sales in thousands":237.999},{"manufacturer":"Mercedes-Benz","Price in thousands":22.1674285714,"Sales in thousands":180.895},{"manufacturer":"Nissan","Price in thousands":22.3607142857,"Sales in thousands":399.635},{"manufacturer":"Oldsmobile","Price in thousands":25.6228333333,"Sales in thousands":178.989},{"manufacturer":"Plymouth","Price in thousands":22.6425,"Sales in thousands":64.001},{"manufacturer":"Pontiac","Price in thousands":22.9491666667,"Sales in thousands":370.534},{"manufacturer":"Porsche","Price in thousands":62.4733333333,"Sales in thousands":12.128},{"manufacturer":"Saab","Price in thousands":29.61,"Sales in thousands":21.306},{"manufacturer":"Saturn","Price in thousands":14.271,"Sales in thousands":168.85},{"manufacturer":"Subaru","Price in thousands":21.395,"Sales in thousands":80.135},{"manufacturer":"Toyota","Price in thousands":21.9828888889,"Sales in thousands":740.205},{"manufacturer":"Volkswagen","Price in thousands":17.6983333333,"Sales in thousands":209.212},{"manufacturer":"Volvo","Price in thousands":30.9333333333,"Sales in thousands":75.74}]

In [19]:
details_json = details_df.to_json(orient='records')
print(details_json)

[{"Manufacturer":"Acura","Model":"Integra","Vehicle type":"Passenger","Engine size":1.8,"Horsepower":140.0,"Wheelbase":101.2,"Width":67.3,"Length":172.4,"Curb weight":2.639,"Fuel capacity":13.2,"Fuel efficiency":28.0,"Latest Launch":"2-Feb-14"},{"Manufacturer":"Acura","Model":"TL","Vehicle type":"Passenger","Engine size":3.2,"Horsepower":225.0,"Wheelbase":108.1,"Width":70.3,"Length":192.9,"Curb weight":3.517,"Fuel capacity":17.2,"Fuel efficiency":25.0,"Latest Launch":"6-Mar-15"},{"Manufacturer":"Acura","Model":"CL","Vehicle type":"Passenger","Engine size":3.2,"Horsepower":225.0,"Wheelbase":106.9,"Width":70.6,"Length":192.0,"Curb weight":3.47,"Fuel capacity":17.2,"Fuel efficiency":26.0,"Latest Launch":"1-Apr-14"},{"Manufacturer":"Acura","Model":"RL","Vehicle type":"Passenger","Engine size":3.5,"Horsepower":210.0,"Wheelbase":114.6,"Width":71.4,"Length":196.6,"Curb weight":3.85,"Fuel capacity":18.0,"Fuel efficiency":22.0,"Latest Launch":"3-Oct-15"},{"Manufacturer":"Audi","Model":"A4","Vehicle type":"Passenger","Engine size":1.8,"Horsepower":150.0,"Wheelbase":102.6,"Width":68.2,"Length":178.0,"Curb weight":2.998,"Fuel capacity":16.4,"Fuel efficiency":27.0,"Latest Launch":"10-Aug-15"},{"Manufacturer":"Audi","Model":"A6","Vehicle type":"Passenger","Engine size":2.8,"Horsepower":200.0,"Wheelbase":108.7,"Width":76.1,"Length":192.0,"Curb weight":3.561,"Fuel capacity":18.5,"Fuel efficiency":22.0,"Latest Launch":"8-Sep-15"},{"Manufacturer":"Audi","Model":"A8","Vehicle type":"Passenger","Engine size":4.2,"Horsepower":310.0,"Wheelbase":113.0,"Width":74.0,"Length":198.2,"Curb weight":3.902,"Fuel capacity":23.7,"Fuel efficiency":21.0,"Latest Launch":"27-Feb-14"},{"Manufacturer":"BMW","Model":"323i","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":170.0,"Wheelbase":107.3,"Width":68.4,"Length":176.0,"Curb weight":3.179,"Fuel capacity":16.6,"Fuel efficiency":26.0,"Latest Launch":"28-Jun-15"},{"Manufacturer":"BMW","Model":"328i","Vehicle type":"Passenger","Engine size":2.8,"Horsepower":193.0,"Wheelbase":107.3,"Width":68.5,"Length":176.0,"Curb weight":3.197,"Fuel capacity":16.6,"Fuel efficiency":24.0,"Latest Launch":"29-Jan-14"},{"Manufacturer":"BMW","Model":"528i","Vehicle type":"Passenger","Engine size":2.8,"Horsepower":193.0,"Wheelbase":111.4,"Width":70.9,"Length":188.0,"Curb weight":3.472,"Fuel capacity":18.5,"Fuel efficiency":25.0,"Latest Launch":"4-Apr-15"},{"Manufacturer":"Buick","Model":"Century","Vehicle type":"Passenger","Engine size":3.1,"Horsepower":175.0,"Wheelbase":109.0,"Width":72.7,"Length":194.6,"Curb weight":3.368,"Fuel capacity":17.5,"Fuel efficiency":25.0,"Latest Launch":"11-Feb-15"},{"Manufacturer":"Buick","Model":"Regal","Vehicle type":"Passenger","Engine size":3.8,"Horsepower":240.0,"Wheelbase":109.0,"Width":72.7,"Length":196.2,"Curb weight":3.543,"Fuel capacity":17.5,"Fuel efficiency":23.0,"Latest Launch":"9-Mar-15"},{"Manufacturer":"Buick","Model":"Park Avenue","Vehicle type":"Passenger","Engine size":3.8,"Horsepower":205.0,"Wheelbase":113.8,"Width":74.7,"Length":206.8,"Curb weight":3.778,"Fuel capacity":18.5,"Fuel efficiency":24.0,"Latest Launch":"23-Mar-14"},{"Manufacturer":"Buick","Model":"LeSabre","Vehicle type":"Passenger","Engine size":3.8,"Horsepower":205.0,"Wheelbase":112.2,"Width":73.5,"Length":200.0,"Curb weight":3.591,"Fuel capacity":17.5,"Fuel efficiency":25.0,"Latest Launch":"23-Jul-15"},{"Manufacturer":"Cadillac","Model":"DeVille","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":275.0,"Wheelbase":115.3,"Width":74.5,"Length":207.2,"Curb weight":3.978,"Fuel capacity":18.5,"Fuel efficiency":22.0,"Latest Launch":"23-Feb-14"},{"Manufacturer":"Cadillac","Model":"Seville","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":275.0,"Wheelbase":112.2,"Width":75.0,"Length":201.0,"Curb weight":null,"Fuel capacity":18.5,"Fuel efficiency":22.0,"Latest Launch":"29-Apr-15"},{"Manufacturer":"Cadillac","Model":"Eldorado","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":275.0,"Wheelbase":108.0,"Width":75.5,"Length":200.6,"Curb weight":3.843,"Fuel capacity":19.0,"Fuel efficiency":22.0,"Latest Launch":"27-Nov-15"},{"Manufacturer":"Cadillac","Model":"Catera","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":200.0,"Wheelbase":107.4,"Width":70.3,"Length":194.8,"Curb weight":3.77,"Fuel capacity":18.0,"Fuel efficiency":22.0,"Latest Launch":"28-Sep-15"},{"Manufacturer":"Cadillac","Model":"Escalade","Vehicle type":"Car","Engine size":5.7,"Horsepower":255.0,"Wheelbase":117.5,"Width":77.0,"Length":201.2,"Curb weight":5.572,"Fuel capacity":30.0,"Fuel efficiency":15.0,"Latest Launch":"17-Apr-14"},{"Manufacturer":"Chevrolet","Model":"Cavalier","Vehicle type":"Passenger","Engine size":2.2,"Horsepower":115.0,"Wheelbase":104.1,"Width":67.9,"Length":180.9,"Curb weight":2.676,"Fuel capacity":14.3,"Fuel efficiency":27.0,"Latest Launch":"17-Aug-15"},{"Manufacturer":"Chevrolet","Model":"Malibu","Vehicle type":"Passenger","Engine size":3.1,"Horsepower":170.0,"Wheelbase":107.0,"Width":69.4,"Length":190.4,"Curb weight":3.051,"Fuel capacity":15.0,"Fuel efficiency":25.0,"Latest Launch":"19-Mar-14"},{"Manufacturer":"Chevrolet","Model":"Lumina","Vehicle type":"Passenger","Engine size":3.1,"Horsepower":175.0,"Wheelbase":107.5,"Width":72.5,"Length":200.9,"Curb weight":3.33,"Fuel capacity":16.6,"Fuel efficiency":25.0,"Latest Launch":"24-May-15"},{"Manufacturer":"Chevrolet","Model":"Monte Carlo","Vehicle type":"Passenger","Engine size":3.4,"Horsepower":180.0,"Wheelbase":110.5,"Width":72.7,"Length":197.9,"Curb weight":3.34,"Fuel capacity":17.0,"Fuel efficiency":27.0,"Latest Launch":"22-Dec-15"},{"Manufacturer":"Chevrolet","Model":"Camaro","Vehicle type":"Passenger","Engine size":3.8,"Horsepower":200.0,"Wheelbase":101.1,"Width":74.1,"Length":193.2,"Curb weight":3.5,"Fuel capacity":16.8,"Fuel efficiency":25.0,"Latest Launch":"23-Oct-15"},{"Manufacturer":"Chevrolet","Model":"Corvette","Vehicle type":"Passenger","Engine size":5.7,"Horsepower":345.0,"Wheelbase":104.5,"Width":73.6,"Length":179.7,"Curb weight":3.21,"Fuel capacity":19.1,"Fuel efficiency":22.0,"Latest Launch":"5-Dec-14"},{"Manufacturer":"Chevrolet","Model":"Prizm","Vehicle type":"Passenger","Engine size":1.8,"Horsepower":120.0,"Wheelbase":97.1,"Width":66.7,"Length":174.3,"Curb weight":2.398,"Fuel capacity":13.2,"Fuel efficiency":33.0,"Latest Launch":"9-Nov-15"},{"Manufacturer":"Chevrolet","Model":"Metro","Vehicle type":"Passenger","Engine size":1.0,"Horsepower":55.0,"Wheelbase":93.1,"Width":62.6,"Length":149.4,"Curb weight":1.895,"Fuel capacity":10.3,"Fuel efficiency":45.0,"Latest Launch":"13-Apr-14"},{"Manufacturer":"Chevrolet","Model":"Impala","Vehicle type":"Passenger","Engine size":3.4,"Horsepower":180.0,"Wheelbase":110.5,"Width":73.0,"Length":200.0,"Curb weight":3.389,"Fuel capacity":17.0,"Fuel efficiency":27.0,"Latest Launch":"18-Jun-15"},{"Manufacturer":"Chrysler","Model":"Sebring Coupe","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":163.0,"Wheelbase":103.7,"Width":69.7,"Length":190.9,"Curb weight":2.967,"Fuel capacity":15.9,"Fuel efficiency":24.0,"Latest Launch":"16-Jan-14"},{"Manufacturer":"Chrysler","Model":"Sebring Conv.","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":168.0,"Wheelbase":106.0,"Width":69.2,"Length":193.0,"Curb weight":3.332,"Fuel capacity":16.0,"Fuel efficiency":24.0,"Latest Launch":"17-Nov-15"},{"Manufacturer":"Chrysler","Model":"Concorde","Vehicle type":"Passenger","Engine size":2.7,"Horsepower":200.0,"Wheelbase":113.0,"Width":74.4,"Length":209.1,"Curb weight":3.452,"Fuel capacity":17.0,"Fuel efficiency":26.0,"Latest Launch":"6-Jun-14"},{"Manufacturer":"Chrysler","Model":"Cirrus","Vehicle type":"Passenger","Engine size":2.0,"Horsepower":132.0,"Wheelbase":108.0,"Width":71.0,"Length":186.0,"Curb weight":2.911,"Fuel capacity":16.0,"Fuel efficiency":27.0,"Latest Launch":"10-Jun-15"},{"Manufacturer":"Chrysler","Model":"LHS","Vehicle type":"Passenger","Engine size":3.5,"Horsepower":253.0,"Wheelbase":113.0,"Width":74.4,"Length":207.7,"Curb weight":3.564,"Fuel capacity":17.0,"Fuel efficiency":23.0,"Latest Launch":"5-Aug-14"},{"Manufacturer":"Chrysler","Model":"Town & Country","Vehicle type":"Car","Engine size":null,"Horsepower":null,"Wheelbase":null,"Width":null,"Length":null,"Curb weight":null,"Fuel capacity":null,"Fuel efficiency":null,"Latest Launch":"13-Jul-15"},{"Manufacturer":"Chrysler","Model":"300M","Vehicle type":"Passenger","Engine size":3.5,"Horsepower":253.0,"Wheelbase":113.0,"Width":74.4,"Length":197.8,"Curb weight":3.567,"Fuel capacity":17.0,"Fuel efficiency":23.0,"Latest Launch":"2-Oct-14"},{"Manufacturer":"Dodge","Model":"Neon","Vehicle type":"Passenger","Engine size":2.0,"Horsepower":132.0,"Wheelbase":105.0,"Width":74.4,"Length":174.4,"Curb weight":2.567,"Fuel capacity":12.5,"Fuel efficiency":29.0,"Latest Launch":"12-Dec-15"},{"Manufacturer":"Dodge","Model":"Avenger","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":163.0,"Wheelbase":103.7,"Width":69.1,"Length":190.2,"Curb weight":2.879,"Fuel capacity":15.9,"Fuel efficiency":24.0,"Latest Launch":"7-Jan-14"},{"Manufacturer":"Dodge","Model":"Stratus","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":168.0,"Wheelbase":108.0,"Width":71.0,"Length":186.0,"Curb weight":3.058,"Fuel capacity":16.0,"Fuel efficiency":24.0,"Latest Launch":"31-Oct-15"},{"Manufacturer":"Dodge","Model":"Intrepid","Vehicle type":"Passenger","Engine size":2.7,"Horsepower":202.0,"Wheelbase":113.0,"Width":74.7,"Length":203.7,"Curb weight":3.489,"Fuel capacity":17.0,"Fuel efficiency":null,"Latest Launch":"6-Feb-14"},{"Manufacturer":"Dodge","Model":"Viper","Vehicle type":"Passenger","Engine size":8.0,"Horsepower":450.0,"Wheelbase":96.2,"Width":75.7,"Length":176.7,"Curb weight":3.375,"Fuel capacity":19.0,"Fuel efficiency":16.0,"Latest Launch":"8-Jul-15"},{"Manufacturer":"Dodge","Model":"Ram Pickup","Vehicle type":"Car","Engine size":5.2,"Horsepower":230.0,"Wheelbase":138.7,"Width":79.3,"Length":224.2,"Curb weight":4.47,"Fuel capacity":26.0,"Fuel efficiency":17.0,"Latest Launch":"3-Jun-14"},{"Manufacturer":"Dodge","Model":"Ram Wagon","Vehicle type":"Car","Engine size":3.9,"Horsepower":175.0,"Wheelbase":109.6,"Width":78.8,"Length":192.6,"Curb weight":4.245,"Fuel capacity":32.0,"Fuel efficiency":15.0,"Latest Launch":"1-Jun-14"},{"Manufacturer":"Dodge","Model":"Ram Van","Vehicle type":"Car","Engine size":3.9,"Horsepower":175.0,"Wheelbase":127.2,"Width":78.8,"Length":208.5,"Curb weight":4.298,"Fuel capacity":32.0,"Fuel efficiency":16.0,"Latest Launch":"26-Jul-14"},{"Manufacturer":"Dodge","Model":"Dakota","Vehicle type":"Car","Engine size":2.5,"Horsepower":120.0,"Wheelbase":131.0,"Width":71.5,"Length":215.0,"Curb weight":3.557,"Fuel capacity":22.0,"Fuel efficiency":19.0,"Latest Launch":"25-Nov-15"},{"Manufacturer":"Dodge","Model":"Durango","Vehicle type":"Car","Engine size":5.2,"Horsepower":230.0,"Wheelbase":115.7,"Width":71.7,"Length":193.5,"Curb weight":4.394,"Fuel capacity":25.0,"Fuel efficiency":17.0,"Latest Launch":"27-Jun-14"},{"Manufacturer":"Dodge","Model":"Caravan","Vehicle type":"Car","Engine size":2.4,"Horsepower":150.0,"Wheelbase":113.3,"Width":76.8,"Length":186.3,"Curb weight":3.533,"Fuel capacity":20.0,"Fuel efficiency":24.0,"Latest Launch":"9-Jan-15"},{"Manufacturer":"Ford","Model":"Escort","Vehicle type":"Passenger","Engine size":2.0,"Horsepower":110.0,"Wheelbase":98.4,"Width":67.0,"Length":174.7,"Curb weight":2.468,"Fuel capacity":12.7,"Fuel efficiency":30.0,"Latest Launch":"31-Mar-14"},{"Manufacturer":"Ford","Model":"Mustang","Vehicle type":"Passenger","Engine size":3.8,"Horsepower":190.0,"Wheelbase":101.3,"Width":73.1,"Length":183.2,"Curb weight":3.203,"Fuel capacity":15.7,"Fuel efficiency":24.0,"Latest Launch":"31-Jan-14"},{"Manufacturer":"Ford","Model":"Contour","Vehicle type":"Passenger","Engine size":2.5,"Horsepower":170.0,"Wheelbase":106.5,"Width":69.1,"Length":184.6,"Curb weight":2.769,"Fuel capacity":15.0,"Fuel efficiency":25.0,"Latest Launch":"20-Aug-14"},{"Manufacturer":"Ford","Model":"Taurus","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":155.0,"Wheelbase":108.5,"Width":73.0,"Length":197.6,"Curb weight":3.368,"Fuel capacity":16.0,"Fuel efficiency":24.0,"Latest Launch":"20-Dec-15"},{"Manufacturer":"Ford","Model":"Focus","Vehicle type":"Passenger","Engine size":2.0,"Horsepower":107.0,"Wheelbase":103.0,"Width":66.9,"Length":174.8,"Curb weight":2.564,"Fuel capacity":13.2,"Fuel efficiency":30.0,"Latest Launch":"22-Jul-14"},{"Manufacturer":"Ford","Model":"Crown Victoria","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":200.0,"Wheelbase":114.7,"Width":78.2,"Length":212.0,"Curb weight":3.908,"Fuel capacity":19.0,"Fuel efficiency":21.0,"Latest Launch":"26-Sep-15"},{"Manufacturer":"Ford","Model":"Explorer","Vehicle type":"Car","Engine size":4.0,"Horsepower":210.0,"Wheelbase":111.6,"Width":70.2,"Length":190.7,"Curb weight":3.876,"Fuel capacity":21.0,"Fuel efficiency":19.0,"Latest Launch":"25-Apr-14"},{"Manufacturer":"Ford","Model":"Windstar","Vehicle type":"Car","Engine size":3.0,"Horsepower":150.0,"Wheelbase":120.7,"Width":76.6,"Length":200.9,"Curb weight":3.761,"Fuel capacity":26.0,"Fuel efficiency":21.0,"Latest Launch":"25-Feb-14"},{"Manufacturer":"Ford","Model":"Expedition","Vehicle type":"Car","Engine size":4.6,"Horsepower":240.0,"Wheelbase":119.0,"Width":78.7,"Length":204.6,"Curb weight":4.808,"Fuel capacity":26.0,"Fuel efficiency":16.0,"Latest Launch":"14-Sep-14"},{"Manufacturer":"Ford","Model":"Ranger","Vehicle type":"Car","Engine size":2.5,"Horsepower":119.0,"Wheelbase":117.5,"Width":69.4,"Length":200.7,"Curb weight":3.086,"Fuel capacity":20.0,"Fuel efficiency":23.0,"Latest Launch":"14-Jan-14"},{"Manufacturer":"Ford","Model":"F-Series","Vehicle type":"Car","Engine size":4.6,"Horsepower":220.0,"Wheelbase":138.5,"Width":79.1,"Length":224.5,"Curb weight":4.241,"Fuel capacity":25.1,"Fuel efficiency":18.0,"Latest Launch":"16-Aug-14"},{"Manufacturer":"Honda","Model":"Civic","Vehicle type":"Passenger","Engine size":1.6,"Horsepower":106.0,"Wheelbase":103.2,"Width":67.1,"Length":175.1,"Curb weight":2.339,"Fuel capacity":11.9,"Fuel efficiency":32.0,"Latest Launch":"21-Oct-15"},{"Manufacturer":"Honda","Model":"Accord","Vehicle type":"Passenger","Engine size":2.3,"Horsepower":135.0,"Wheelbase":106.9,"Width":70.3,"Length":188.8,"Curb weight":2.932,"Fuel capacity":17.1,"Fuel efficiency":27.0,"Latest Launch":"20-May-14"},{"Manufacturer":"Honda","Model":"CR-V","Vehicle type":"Car","Engine size":2.0,"Horsepower":146.0,"Wheelbase":103.2,"Width":68.9,"Length":177.6,"Curb weight":3.219,"Fuel capacity":15.3,"Fuel efficiency":24.0,"Latest Launch":"21-Mar-14"},{"Manufacturer":"Honda","Model":"Passport","Vehicle type":"Car","Engine size":3.2,"Horsepower":205.0,"Wheelbase":106.4,"Width":70.4,"Length":178.2,"Curb weight":3.857,"Fuel capacity":21.1,"Fuel efficiency":19.0,"Latest Launch":"10-Sep-14"},{"Manufacturer":"Honda","Model":"Odyssey","Vehicle type":"Car","Engine size":3.5,"Horsepower":210.0,"Wheelbase":118.1,"Width":75.6,"Length":201.2,"Curb weight":4.288,"Fuel capacity":20.0,"Fuel efficiency":23.0,"Latest Launch":"2-Aug-14"},{"Manufacturer":"Hyundai","Model":"Accent","Vehicle type":"Passenger","Engine size":1.5,"Horsepower":92.0,"Wheelbase":96.1,"Width":65.7,"Length":166.7,"Curb weight":2.24,"Fuel capacity":11.9,"Fuel efficiency":31.0,"Latest Launch":"9-Oct-14"},{"Manufacturer":"Hyundai","Model":"Elantra","Vehicle type":"Passenger","Engine size":2.0,"Horsepower":140.0,"Wheelbase":100.4,"Width":66.9,"Length":174.0,"Curb weight":2.626,"Fuel capacity":14.5,"Fuel efficiency":27.0,"Latest Launch":"15-Nov-15"},{"Manufacturer":"Hyundai","Model":"Sonata","Vehicle type":"Passenger","Engine size":2.4,"Horsepower":148.0,"Wheelbase":106.3,"Width":71.6,"Length":185.4,"Curb weight":3.072,"Fuel capacity":17.2,"Fuel efficiency":25.0,"Latest Launch":"14-Jun-14"},{"Manufacturer":"Infiniti","Model":"I30","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":227.0,"Wheelbase":108.3,"Width":70.2,"Length":193.7,"Curb weight":3.342,"Fuel capacity":18.5,"Fuel efficiency":25.0,"Latest Launch":"15-Apr-14"},{"Manufacturer":"Jaguar","Model":"S-Type","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":240.0,"Wheelbase":114.5,"Width":71.6,"Length":191.3,"Curb weight":3.65,"Fuel capacity":18.4,"Fuel efficiency":21.0,"Latest Launch":"11-Mar-14"},{"Manufacturer":"Jeep","Model":"Wrangler","Vehicle type":"Car","Engine size":2.5,"Horsepower":120.0,"Wheelbase":93.4,"Width":66.7,"Length":152.0,"Curb weight":3.045,"Fuel capacity":19.0,"Fuel efficiency":17.0,"Latest Launch":"3-Apr-14"},{"Manufacturer":"Jeep","Model":"Cherokee","Vehicle type":"Car","Engine size":4.0,"Horsepower":190.0,"Wheelbase":101.4,"Width":69.4,"Length":167.5,"Curb weight":3.194,"Fuel capacity":20.0,"Fuel efficiency":20.0,"Latest Launch":"10-May-14"},{"Manufacturer":"Jeep","Model":"Grand Cherokee","Vehicle type":"Car","Engine size":4.0,"Horsepower":195.0,"Wheelbase":105.9,"Width":72.3,"Length":181.5,"Curb weight":3.88,"Fuel capacity":20.5,"Fuel efficiency":19.0,"Latest Launch":"12-Oct-15"},{"Manufacturer":"Lexus","Model":"ES300","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":210.0,"Wheelbase":105.1,"Width":70.5,"Length":190.2,"Curb weight":3.373,"Fuel capacity":18.5,"Fuel efficiency":23.0,"Latest Launch":"7-Sep-14"},{"Manufacturer":"Lexus","Model":"GS300","Vehicle type":"Passenger","Engine size":3.0,"Horsepower":225.0,"Wheelbase":110.2,"Width":70.9,"Length":189.2,"Curb weight":3.638,"Fuel capacity":19.8,"Fuel efficiency":23.0,"Latest Launch":"5-Oct-14"},{"Manufacturer":"Lexus","Model":"GS400","Vehicle type":"Passenger","Engine size":4.0,"Horsepower":300.0,"Wheelbase":110.2,"Width":70.9,"Length":189.2,"Curb weight":3.693,"Fuel capacity":19.8,"Fuel efficiency":21.0,"Latest Launch":"28-Nov-14"},{"Manufacturer":"Lexus","Model":"LS400","Vehicle type":"Passenger","Engine size":4.0,"Horsepower":290.0,"Wheelbase":112.2,"Width":72.0,"Length":196.7,"Curb weight":3.89,"Fuel capacity":22.5,"Fuel efficiency":22.0,"Latest Launch":"29-Mar-14"},{"Manufacturer":"Lexus","Model":"LX470","Vehicle type":"Car","Engine size":4.7,"Horsepower":230.0,"Wheelbase":112.2,"Width":76.4,"Length":192.5,"Curb weight":5.401,"Fuel capacity":25.4,"Fuel efficiency":15.0,"Latest Launch":"30-Oct-14"},{"Manufacturer":"Lexus","Model":"RX300","Vehicle type":"Car","Engine size":3.0,"Horsepower":220.0,"Wheelbase":103.0,"Width":71.5,"Length":180.1,"Curb weight":3.9,"Fuel capacity":17.2,"Fuel efficiency":21.0,"Latest Launch":"1-Apr-14"},{"Manufacturer":"Lincoln","Model":"Continental","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":275.0,"Wheelbase":109.0,"Width":73.6,"Length":208.5,"Curb weight":3.868,"Fuel capacity":20.0,"Fuel efficiency":22.0,"Latest Launch":"8-Mar-14"},{"Manufacturer":"Lincoln","Model":"Town car","Vehicle type":"Passenger","Engine size":4.6,"Horsepower":215.0,"Wheelbase":117.7,"Width":78.2,"Length":215.3,"Curb weight":4.121,"Fuel capacity":19.0,"Fuel efficiency":21.0,"Latest Launch":"6-Apr-14"},{"Manufacturer":"Lincoln","Model":"Navigator","Vehicle type":"Car","Engine size":5.4,"Horsepower":300.0,"Wheelbase":119.0,"Width":79.9,"Length":204.8,"Curb weight":5.393,"Fuel capacity":30.0,"Fuel efficiency":15.0,"Latest Launch":"23-Dec-14"},{"Manufacturer":"Mitsubishi","Model":"Mirage","Vehicle type":"Passenger","Engine size":1.8,"Horsepower":113.0,"Wheelbase":98.4,"Width":66.5,"Length":173.6,"Curb weight":2.25,"Fuel capacity":13.2,"Fuel efficiency":30.0,"Latest Launch":"23-Apr-14"},{"Manufacturer":"Mitsubishi","Model":"Eclipse","Vehicle type":"Passenger","Engine size":2.4,"Horsepower":154.0,"Wheelbase":100.8,"Width":68.9,"Length":175.4,"Curb weight":2.91,"Fuel capacity":15.9,"Fuel efficiency":24.0,"Latest Launch":"24-Nov-14"},{"Manufacturer":"Mitsubishi","Model":"Galant","Vehicle type":"Passenger","Engine size":2.4,"Horsepower":145.0,"Wheelbase":103.7,"Width":68.5,"Length":187.8,"Curb weight":2.945,"Fuel capacity":16.3,"Fuel efficiency":25.0,"Latest Launch":"29-Jan-14"},{"Manufacturer":"Mitsubishi","Model":"Diamant

In [20]:
price_json = price_data.to_json(orient='records')
print(price_json)

[{"Manufacturer":"Acura","Model":"Integra","4-year resale value":16.36,"Price in thousands":21.5,"Sales in thousands":16.919},{"Manufacturer":"Acura","Model":"TL","4-year resale value":19.875,"Price in thousands":28.4,"Sales in thousands":39.384},{"Manufacturer":"Acura","Model":"CL","4-year resale value":18.225,"Price in thousands":null,"Sales in thousands":14.114},{"Manufacturer":"Acura","Model":"RL","4-year resale value":29.725,"Price in thousands":42.0,"Sales in thousands":8.588},{"Manufacturer":"Audi","Model":"A4","4-year resale value":22.255,"Price in thousands":23.99,"Sales in thousands":20.397},{"Manufacturer":"Audi","Model":"A6","4-year resale value":23.555,"Price in thousands":33.95,"Sales in thousands":18.78},{"Manufacturer":"Audi","Model":"A8","4-year resale value":39.0,"Price in thousands":62.0,"Sales in thousands":1.38},{"Manufacturer":"BMW","Model":"323i","4-year resale value":null,"Price in thousands":26.99,"Sales in thousands":19.747},{"Manufacturer":"BMW","Model":"328i","4-year resale value":28.675,"Price in thousands":33.4,"Sales in thousands":9.231},{"Manufacturer":"BMW","Model":"528i","4-year resale value":36.125,"Price in thousands":38.9,"Sales in thousands":17.527},{"Manufacturer":"Buick","Model":"Century","4-year resale value":12.475,"Price in thousands":21.975,"Sales in thousands":91.561},{"Manufacturer":"Buick","Model":"Regal","4-year resale value":13.74,"Price in thousands":25.3,"Sales in thousands":39.35},{"Manufacturer":"Buick","Model":"Park Avenue","4-year resale value":20.19,"Price in thousands":31.965,"Sales in thousands":27.851},{"Manufacturer":"Buick","Model":"LeSabre","4-year resale value":13.36,"Price in thousands":27.885,"Sales in thousands":83.257},{"Manufacturer":"Cadillac","Model":"DeVille","4-year resale value":22.525,"Price in thousands":39.895,"Sales in thousands":63.729},{"Manufacturer":"Cadillac","Model":"Seville","4-year resale value":27.1,"Price in thousands":44.475,"Sales in thousands":15.943},{"Manufacturer":"Cadillac","Model":"Eldorado","4-year resale value":25.725,"Price in thousands":39.665,"Sales in thousands":6.536},{"Manufacturer":"Cadillac","Model":"Catera","4-year resale value":18.225,"Price in thousands":31.01,"Sales in thousands":11.185},{"Manufacturer":"Cadillac","Model":"Escalade","4-year resale value":null,"Price in thousands":46.225,"Sales in thousands":14.785},{"Manufacturer":"Chevrolet","Model":"Cavalier","4-year resale value":9.25,"Price in thousands":13.26,"Sales in thousands":145.519},{"Manufacturer":"Chevrolet","Model":"Malibu","4-year resale value":11.225,"Price in thousands":16.535,"Sales in thousands":135.126},{"Manufacturer":"Chevrolet","Model":"Lumina","4-year resale value":10.31,"Price in thousands":18.89,"Sales in thousands":24.629},{"Manufacturer":"Chevrolet","Model":"Monte Carlo","4-year resale value":11.525,"Price in thousands":19.39,"Sales in thousands":42.593},{"Manufacturer":"Chevrolet","Model":"Camaro","4-year resale value":13.025,"Price in thousands":24.34,"Sales in thousands":26.402},{"Manufacturer":"Chevrolet","Model":"Corvette","4-year resale value":36.225,"Price in thousands":45.705,"Sales in thousands":17.947},{"Manufacturer":"Chevrolet","Model":"Prizm","4-year resale value":9.125,"Price in thousands":13.96,"Sales in thousands":32.299},{"Manufacturer":"Chevrolet","Model":"Metro","4-year resale value":5.16,"Price in thousands":9.235,"Sales in thousands":21.855},{"Manufacturer":"Chevrolet","Model":"Impala","4-year resale value":null,"Price in thousands":18.89,"Sales in thousands":107.995},{"Manufacturer":"Chrysler","Model":"Sebring Coupe","4-year resale value":12.36,"Price in thousands":19.84,"Sales in thousands":7.854},{"Manufacturer":"Chrysler","Model":"Sebring Conv.","4-year resale value":14.18,"Price in thousands":24.495,"Sales in thousands":32.775},{"Manufacturer":"Chrysler","Model":"Concorde","4-year resale value":13.725,"Price in thousands":22.245,"Sales in thousands":31.148},{"Manufacturer":"Chrysler","Model":"Cirrus","4-year resale value":12.64,"Price in thousands":16.48,"Sales in thousands":32.306},{"Manufacturer":"Chrysler","Model":"LHS","4-year resale value":17.325,"Price in thousands":28.34,"Sales in thousands":13.462},{"Manufacturer":"Chrysler","Model":"Town & Country","4-year resale value":19.54,"Price in thousands":null,"Sales in thousands":53.48},{"Manufacturer":"Chrysler","Model":"300M","4-year resale value":null,"Price in thousands":29.185,"Sales in thousands":30.696},{"Manufacturer":"Dodge","Model":"Neon","4-year resale value":7.75,"Price in thousands":12.64,"Sales in thousands":76.034},{"Manufacturer":"Dodge","Model":"Avenger","4-year resale value":12.545,"Price in thousands":19.045,"Sales in thousands":4.734},{"Manufacturer":"Dodge","Model":"Stratus","4-year resale value":10.185,"Price in thousands":20.23,"Sales in thousands":71.186},{"Manufacturer":"Dodge","Model":"Intrepid","4-year resale value":12.275,"Price in thousands":22.505,"Sales in thousands":88.028},{"Manufacturer":"Dodge","Model":"Viper","4-year resale value":58.47,"Price in thousands":69.725,"Sales in thousands":0.916},{"Manufacturer":"Dodge","Model":"Ram Pickup","4-year resale value":15.06,"Price in thousands":19.46,"Sales in thousands":227.061},{"Manufacturer":"Dodge","Model":"Ram Wagon","4-year resale value":15.51,"Price in thousands":21.315,"Sales in thousands":16.767},{"Manufacturer":"Dodge","Model":"Ram Van","4-year resale value":13.425,"Price in thousands":18.575,"Sales in thousands":31.038},{"Manufacturer":"Dodge","Model":"Dakota","4-year resale value":11.26,"Price in thousands":16.98,"Sales in thousands":111.313},{"Manufacturer":"Dodge","Model":"Durango","4-year resale value":null,"Price in thousands":26.31,"Sales in thousands":101.323},{"Manufacturer":"Dodge","Model":"Caravan","4-year resale value":12.025,"Price in thousands":19.565,"Sales in thousands":181.749},{"Manufacturer":"Ford","Model":"Escort","4-year resale value":7.425,"Price in thousands":12.07,"Sales in thousands":70.227},{"Manufacturer":"Ford","Model":"Mustang","4-year resale value":12.76,"Price in thousands":21.56,"Sales in thousands":113.369},{"Manufacturer":"Ford","Model":"Contour","4-year resale value":8.835,"Price in thousands":17.035,"Sales in thousands":35.068},{"Manufacturer":"Ford","Model":"Taurus","4-year resale value":10.055,"Price in thousands":17.885,"Sales in thousands":245.815},{"Manufacturer":"Ford","Model":"Focus","4-year resale value":null,"Price in thousands":12.315,"Sales in thousands":175.67},{"Manufacturer":"Ford","Model":"Crown Victoria","4-year resale value":14.21,"Price in thousands":22.195,"Sales in thousands":63.403},{"Manufacturer":"Ford","Model":"Explorer","4-year resale value":16.64,"Price in thousands":31.93,"Sales in thousands":276.747},{"Manufacturer":"Ford","Model":"Windstar","4-year resale value":13.175,"Price in thousands":21.41,"Sales in thousands":155.787},{"Manufacturer":"Ford","Model":"Expedition","4-year resale value":23.575,"Price in thousands":36.135,"Sales in thousands":125.338},{"Manufacturer":"Ford","Model":"Ranger","4-year resale value":7.85,"Price in thousands":12.05,"Sales in thousands":220.65},{"Manufacturer":"Ford","Model":"F-Series","4-year resale value":15.075,"Price in thousands":26.935,"Sales in thousands":540.561},{"Manufacturer":"Honda","Model":"Civic","4-year resale value":9.85,"Price in thousands":12.885,"Sales in thousands":199.685},{"Manufacturer":"Honda","Model":"Accord","4-year resale value":13.21,"Price in thousands":15.35,"Sales in thousands":230.902},{"Manufacturer":"Honda","Model":"CR-V","4-year resale value":17.71,"Price in thousands":20.55,"Sales in thousands":73.203},{"Manufacturer":"Honda","Model":"Passport","4-year resale value":17.525,"Price in thousands":26.6,"Sales in thousands":12.855},{"Manufacturer":"Honda","Model":"Odyssey","4-year resale value":19.49,"Price in thousands":26.0,"Sales in thousands":76.029},{"Manufacturer":"Hyundai","Model":"Accent","4-year resale value":5.86,"Price in thousands":9.699,"Sales in thousands":41.184},{"Manufacturer":"Hyundai","Model":"Elantra","4-year resale value":7.825,"Price in thousands":11.799,"Sales in thousands":66.692},{"Manufacturer":"Hyundai","Model":"Sonata","4-year resale value":8.91,"Price in thousands":14.999,"Sales in thousands":29.45},{"Manufacturer":"Infiniti","Model":"I30","4-year resale value":19.69,"Price in thousands":29.465,"Sales in thousands":23.713},{"Manufacturer":"Jaguar","Model":"S-Type","4-year resale value":null,"Price in thousands":42.8,"Sales in thousands":15.467},{"Manufacturer":"Jeep","Model":"Wrangler","4-year resale value":13.475,"Price in thousands":14.46,"Sales in thousands":55.557},{"Manufacturer":"Jeep","Model":"Cherokee","4-year resale value":13.775,"Price in thousands":21.62,"Sales in thousands":80.556},{"Manufacturer":"Jeep","Model":"Grand Cherokee","4-year resale value":18.81,"Price in thousands":26.895,"Sales in thousands":157.04},{"Manufacturer":"Lexus","Model":"ES300","4-year resale value":26.975,"Price in thousands":31.505,"Sales in thousands":24.072},{"Manufacturer":"Lexus","Model":"GS300","4-year resale value":32.075,"Price in thousands":37.805,"Sales in thousands":12.698},{"Manufacturer":"Lexus","Model":"GS400","4-year resale value":null,"Price in thousands":46.305,"Sales in thousands":3.334},{"Manufacturer":"Lexus","Model":"LS400","4-year resale value":40.375,"Price in thousands":54.005,"Sales in thousands":6.375},{"Manufacturer":"Lexus","Model":"LX470","4-year resale value":null,"Price in thousands":60.105,"Sales in thousands":9.126},{"Manufacturer":"Lexus","Model":"RX300","4-year resale value":null,"Price in thousands":34.605,"Sales in thousands":51.238},{"Manufacturer":"Lincoln","Model":"Continental","4-year resale value":20.525,"Price in thousands":39.08,"Sales in thousands":13.798},{"Manufacturer":"Lincoln","Model":"Town car","4-year resale value":21.725,"Price in thousands":43.33,"Sales in thousands":48.911},{"Manufacturer":"Lincoln","Model":"Navigator","4-year resale value":null,"Price in thousands":42.66,"Sales in thousands":22.925},{"Manufacturer":"Mitsubishi","Model":"Mirage","4-year resale value":8.325,"Price in thousands":13.987,"Sales in thousands":26.232},{"Manufacturer":"Mitsubishi","Model":"Eclipse","4-year resale value":10.395,"Price in thousands":19.047,"Sales in thousands":42.541},{"Manufacturer":"Mitsubishi","Model":"Galant","4-year resale value":10.595,"Price in thousands":17.357,"Sales in thousands":55.616},{"Manufacturer":"Mitsubishi","Model":"Diamante","4-year resale value":16.575,"Price in thousands":24.997,"Sales in thousands":5.711},{"Manufacturer":"Mitsubishi","Model":"3000GT","4-year resale value":20.94,"Price in thousands":25.45,"Sales in thousands":0.11},{"Manufacturer":"Mitsubishi","Model":"Montero","4-year resale value":19.125,"Price in thousands":31.807,"Sales in thousands":11.337},{"Manufacturer":"Mitsubishi","Model":"Montero Sport","4-year resale value":13.88,"Price in thousands":22.527,"Sales in thousands":39.348},{"Manufacturer":"Mercury","Model":"Mystique","4-year resale value":8.8,"Price in thousands":16.24,"Sales in thousands":14.351},{"Manufacturer":"Mercury","Model":"Cougar","4-year resale value":13.89,"Price in thousands":16.54,"Sales in thousands":26.529},{"Manufacturer":"Mercury","Model":"Sable","4-year resale value":11.03,"Price in thousands":19.035,"Sales in thousands":67.956},{"Manufacturer":"Mercury","Model":"Grand Marquis","4-year resale value":14.875,"Price in thousands":22.605,"Sales in thousands":81.174},{"Manufacturer":"Mercury","Model":"Mountaineer","4-year resale value":20.43,"Price in thousands":27.56,"Sales in thousands":27.609},{"Manufacturer":"Mercury","Model":"Villager","4-year resale value":14.795,"Price in thousands":22.51,"Sales in thousands":20.38},{"Manufacturer":"Mercedes-Benz","Model":"C-Class","4-year resale value":26.05,"Price in thousands":31.75,"Sales in thousands":18.392},{"Manufacturer":"Mercedes-Benz","Model":"E-Class","4-year resale value":41.45,"Price in thousands":49.9,"Sales in thousands":27.602},{"Manufacturer":"Mercedes-Benz","Model":"S-Class","4-year resale value":50.375,"Price in thousands":69.7,"Sales in thousands":16.774},{"Manufacturer":"Mercedes-Benz","Model":"SL-Class","4-year resale value":58.6,"Price in thousands":82.6,"Sales in thousands":3.311},{"Manufacturer":"Mercedes-Benz","Model":"SLK","4-year resale value":null,"Price in thousands":38.9,"Sales in thousands":7.998},{"Manufacturer":"Mercedes-Benz","Model":"SLK230","4-year resale value":null,"Price in thousands":41.0,"Sales in thousands":1.526},{"Manufacturer":"Mercedes-Benz","Model":"CLK Coupe","4-year resale value":null,"Price in thousands":41.6,"Sales in thousands":11.592},{"Manufacturer":"Mercedes-Benz","Model":"CL500","4-year resale value":null,"Price in thousands":85.5,"Sales in thousands":0.954},{"Manufacturer":"Mercedes-Benz","Model":"M-Class","4-year resale value":null,"Price in thousands":35.3,"Sales in thousands":28.976},{"Manufacturer":"Nissan","Model":"Sentra","4-year resale value":8.45,"Price in thousands":13.499,"Sales in thousands":42.643},{"Manufacturer":"Nissan","Model":"Altima","4-year resale value":11.295,"Price in thousands":20.39,"Sales in thousands":88.094},{"Manufacturer":"Nissan","Model":"Maxima","4-year resale value":15.125,"Price in thousands":26.249,"Sales in thousands":79.853},{"Manufacturer":"Nissan","Model":"Quest","4-year resale value":15.38,"Price in thousands":26.399,"Sales in thousands":27.308},{"Manufacturer":"Nissan","Model":"Pathfinder","4-year resale value":17.81,"Price in thousands":29.299,"Sales in thousands":42.574},{"Manufacturer":"Nissan","Model":"Xterra","4-year resale value":null,"Price in thousands":22.799,"Sales in thousands":54.158},{"Manufacturer":"Nissan","Model":"Frontier","4-year resale value":null,"Price in thousands":17.89,"Sales in thousands":65.005},{"Manufacturer":"Oldsmobile","Model":"Cutlass","4-year resale value":11.24,"Price in thousands":18.145,"Sales in thousands":1.112},{"Manufacturer":"Oldsmobile","Model":"Intrigue","4-year resale value":null,"Price in thousands":24.15,"Sales in thousands":38.554},{"Manufacturer":"Oldsmobile","Model":"Alero","4-year resale value":null,"Price in thousands":18.27,"Sales in thousands":80.255},{"Manufacturer":"Oldsmobile","Model":"Aurora","4-year resale value":19.89,"Price in thousands":36.229,"Sales in thousands":14.69},{"Manufacturer":"Oldsmobile","Model":"Bravada","4-year resale value":19.925,"Price in thousands":31.598,"Sales in thousands":20.017},{"Manufacturer":"Oldsmobile","Model":"Silhouette","4-year resale value":15.24,"Price in thousands":25.345,"Sales in thousands":24.361},{"Manufacturer":"Plymouth","Model":"Neon","4-year resale value":7.75,"Price in thousands":12.64,"Sales in thousands":32.734},{"Manufacturer":"Plymouth","Model":"Breeze","4-year resale value":9.8,"Price in thousands":16.08,"Sales in thousands":5.24},{"Manufacturer":"Plymouth","Model":"Voyager","4-year resale value":12.025,"Price in thousands":18.85,"Sales in thousands":24.155},{"Manufacturer":"Plymouth","Model":"Prowler","4-year resale value":null,"Price in thousands":43.0,"Sales in thousands":1.872},{"Manufacturer":"Pontiac","Model":"Sunfire","4-year resale value":13.79,"Price in thousands":21.61,"Sales in thousands":51.645},{"Manufacturer":"Pontiac","Model":"Grand Am","4-year resale value":10.29,"Price in thousands":19.72,"Sales in thousands":131.097},{"Manufacturer":"Pontiac","Model":"Firebird","4-year resale value":17.805,"Price in thousands":25.31,"Sales in thousands":19.911},{"Manufacturer":"Pontiac","Model":"Grand Prix","4-year resale value":14.01,"Price in thousands":21.665,"Sales in thousands":92.364},{"Manufacturer":"Pontiac","Model":"Bonneville","4-year resale value":13.225,"Price in thousands":23.755,"Sales in thousands":35.945},{"Manufacturer":"Pontiac","Model":"Montana","4-year resale value":null,"Price in thousands":25.635,"Sales in thousands":39.572},{"Manufacturer":"Porsche","Model":"Boxter","4-year resale value":41.25,"Price in thousands":41.43,"Sales in thousands":8.982},{"Manufacturer":"Porsche","Model":"Carrera Coupe","4-year resale value":60.625,"Price in thousands":71.02,"Sales in thousands":1.28},{"Manufacturer":"Porsche","Model":"Carrera Cabriolet","4-year resale value":67.55,"Price in thousands":74.97,"Sales in thousands":1.866},{"Manufacturer":"Saab","Model":"5-Sep","4-year resale value":null,"Price in thousands":33.12,"Sales in thousands":9.191},{"Manufacturer":"Saab","Model":"3-Sep","4-year resale value":null,"Price in thousands":26.1,"Sales in thousands":12.115},{"Manufacturer":"Saturn","Model":"SL","4-year resale value":9.2,"Price in thousands":10.685,"Sales in thousands":80.62},{"Manufacturer":"Saturn","Model":"SC","4-year resale value":10.59,"Price in thousands":12.535,"Sales in thousands":24.546},{"Manufacturer":"Saturn","Model":"SW","4-year resale value":10.79,"Price in thousands":14.29,"Sales in thousands":5.223},{"Manufacturer":"Saturn","Model":"LW","4-year resale value":null,"Price in thousands":18.835,"Sales in thousands":8.472},{"Manufacturer":"Saturn","Model":"LS","4-year resale value":null,"Price in thousands":15.01,"Sales in thousands":49.989},{"Manufacturer":"Subaru","Model":"Outback","4-year resale value":null,"Price in thousands":22.695,"Sales in thousands":47.107},{"Manufacturer":"Subaru","Model":"Forester","4-year resale value":null,"Price in thousands":20.095,"Sales in thousands":33.028},{"Manufacturer":"Toyota","Model":"Corolla","4-year resale value":10.025,"Price in thousands":13.108,"Sales in thousands":142.535},{"Manufacturer":"Toyota","Model":"Camry","4-year resale value":13.245,"Price in thousands":17.518,"Sales in thousands":247.994},{"Manufacturer":"Toyota","Model":"Avalon","4-year resale value":18.14,"Price in thousands":25.545,"Sales in thousands":63.849},{"Manufacturer":"Toyota","Model":"Celica","4-year resale value":15.445,"Price in thousands":16.875,"Sales in thousands":33.269},{"Manufacturer":"Toyota","Model":"Tacoma","4-year resale value":9.575,"Price in thousands":11.528,"Sales in thousands":84.087},{"Manufacturer":"Toyota","Model":"Sienna","4-year resale value":null,"Price in thousands":22.368,"Sales in thousands":65.119},{"Manufacturer":"Toyota","Model":"RAV4","4-year resale value":13.325,"Price in thousands":16.888,"Sales in thousands":25.106},{"Manufacturer":"Toyota","Model":"4Runner","4-year resale value":19.425,"Price in thousands":22.288,"Sales in thousands":68.411},{"Manufacturer":"Toyota","Model":"Land Cruiser","4-year resale value":34.08,"Price in thousands":51.728,"Sales in thousands":9.835},{"Manufacturer":"Volkswagen","Model":"Golf","4-year resale value":11.425,"Price in thousands":14.9,"Sales in thousands":9.761},{"Manufacturer":"Volkswagen","Model":"Jetta","4-year resale value":13.24,"Price in thousands":16.7,"Sales in thousands":83.721},{"Manufacturer":"Volkswagen","Model":"Passat","4-year resale value":16.725,"Price in thousands":21.2,"Sales in thousands":51.102},{"Manufacturer":"Volkswagen","Model":"Cabrio","4-year resale value":16.575,"Price in thousands":19.99,"Sales in thousands":9.569},{"Manufacturer":"Volkswagen","Model":"GTI","4-year resale value":13.76,"Price in thousands":17.5,"Sales in thousands":5.596},{"Manufacturer":"Volkswagen","Model":"Beetle","4-year resale value":null,"Price in thousands":15.9,"Sales in thousands":49.463},{"Manufacturer":"Volvo","Model":"S40","4-year resale value":null,"Price in thousands":23.4,"Sales in thousands":16.957},{"Manufacturer":"Volvo","Model":"V40","4-year resale value":null,"Price in thousands":24.4,"Sales in thousands":3.545},{"Manufacturer":"Volvo","Model":"S70","4-year resale value":null,"Price in thousands":27.5,"Sales in thousands":15.245},{"Manufacturer":"Volvo","Model":"V70","4-year resale value":null,"Price in thousands":28.8,"Sales in thousands":17.531},{"Manufacturer":"Volvo","Model":"C70","4-year resale value":null,"Price in thousands":45.5,"Sales in thousands":3.493},{"Manufacturer":"Volvo","Model":"S80","4-year resale value":null,"Price in thousands":36.0,"Sal

In [21]:
mng_client = pymongo.MongoClient('localhost', 27017)
mng_db = mng_client['ETL_project'] 
db_cm = mng_db['car_price' ]

db_cm.remove()
db_cm.insert(json.loads(price_json))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5cb1f815ce30ce311cc75ce6'),
 ObjectId('5cb1f815ce30ce311cc75ce7'),
 ObjectId('5cb1f815ce30ce311cc75ce8'),
 ObjectId('5cb1f815ce30ce311cc75ce9'),
 ObjectId('5cb1f815ce30ce311cc75cea'),
 ObjectId('5cb1f815ce30ce311cc75ceb'),
 ObjectId('5cb1f815ce30ce311cc75cec'),
 ObjectId('5cb1f815ce30ce311cc75ced'),
 ObjectId('5cb1f815ce30ce311cc75cee'),
 ObjectId('5cb1f815ce30ce311cc75cef'),
 ObjectId('5cb1f815ce30ce311cc75cf0'),
 ObjectId('5cb1f815ce30ce311cc75cf1'),
 ObjectId('5cb1f815ce30ce311cc75cf2'),
 ObjectId('5cb1f815ce30ce311cc75cf3'),
 ObjectId('5cb1f815ce30ce311cc75cf4'),
 ObjectId('5cb1f815ce30ce311cc75cf5'),
 ObjectId('5cb1f815ce30ce311cc75cf6'),
 ObjectId('5cb1f815ce30ce311cc75cf7'),
 ObjectId('5cb1f815ce30ce311cc75cf8'),
 ObjectId('5cb1f815ce30ce311cc75cf9'),
 ObjectId('5cb1f815ce30ce311cc75cfa'),
 ObjectId('5cb1f815ce30ce311cc75cfb'),
 ObjectId('5cb1f815ce30ce311cc75cfc'),
 ObjectId('5cb1f815ce30ce311cc75cfd'),
 ObjectId('5cb1f815ce30ce311cc75cfe'),
 ObjectId('5cb1f815ce30ce311cc75cff'),
 ObjectId('5cb1f815ce30ce311cc75d00'),
 ObjectId('5cb1f815ce30ce311cc75d01'),
 ObjectId('5cb1f815ce30ce311cc75d02'),
 ObjectId('5cb1f815ce30ce311cc75d03'),
 ObjectId('5cb1f815ce30ce311cc75d04'),
 ObjectId('5cb1f815ce30ce311cc75d05'),
 ObjectId('5cb1f815ce30ce311cc75d06'),
 ObjectId('5cb1f815ce30ce311cc75d07'),
 ObjectId('5cb1f815ce30ce311cc75d08'),
 ObjectId('5cb1f815ce30ce311cc75d09'),
 ObjectId('5cb1f815ce30ce311cc75d0a'),
 ObjectId('5cb1f815ce30ce311cc75d0b'),
 ObjectId('5cb1f815ce30ce311cc75d0c'),
 ObjectId('5cb1f815ce30ce311cc75d0d'),
 ObjectId('5cb1f815ce30ce311cc75d0e'),
 ObjectId('5cb1f815ce30ce311cc75d0f'),
 ObjectId('5cb1f815ce30ce311cc75d10'),
 ObjectId('5cb1f815ce30ce311cc75d11'),
 ObjectId('5cb1f815ce30ce311cc75d12'),
 ObjectId('5cb1f815ce30ce311cc75d13'),
 ObjectId('5cb1f815ce30ce311cc75d14'),
 ObjectId('5cb1f815ce30ce311cc75d15'),
 ObjectId('5cb1f815ce30ce311cc75d16'),
 ObjectId('5cb1f815ce30ce311cc75d17'),
 ObjectId('5cb1f815ce30ce311cc75d18'),
 ObjectId('5cb1f815ce30ce311cc75d19'),
 ObjectId('5cb1f815ce30ce311cc75d1a'),
 ObjectId('5cb1f815ce30ce311cc75d1b'),
 ObjectId('5cb1f815ce30ce311cc75d1c'),
 ObjectId('5cb1f815ce30ce311cc75d1d'),
 ObjectId('5cb1f815ce30ce311cc75d1e'),
 ObjectId('5cb1f815ce30ce311cc75d1f'),
 ObjectId('5cb1f815ce30ce311cc75d20'),
 ObjectId('5cb1f815ce30ce311cc75d21'),
 ObjectId('5cb1f815ce30ce311cc75d22'),
 ObjectId('5cb1f815ce30ce311cc75d23'),
 ObjectId('5cb1f815ce30ce311cc75d24'),
 ObjectId('5cb1f815ce30ce311cc75d25'),
 ObjectId('5cb1f815ce30ce311cc75d26'),
 ObjectId('5cb1f815ce30ce311cc75d27'),
 ObjectId('5cb1f815ce30ce311cc75d28'),
 ObjectId('5cb1f815ce30ce311cc75d29'),
 ObjectId('5cb1f815ce30ce311cc75d2a'),
 ObjectId('5cb1f815ce30ce311cc75d2b'),
 ObjectId('5cb1f815ce30ce311cc75d2c'),
 ObjectId('5cb1f815ce30ce311cc75d2d'),
 ObjectId('5cb1f815ce30ce311cc75d2e'),
 ObjectId('5cb1f815ce30ce311cc75d2f'),
 ObjectId('5cb1f815ce30ce311cc75d30'),
 ObjectId('5cb1f815ce30ce311cc75d31'),
 ObjectId('5cb1f815ce30ce311cc75d32'),
 ObjectId('5cb1f815ce30ce311cc75d33'),
 ObjectId('5cb1f815ce30ce311cc75d34'),
 ObjectId('5cb1f815ce30ce311cc75d35'),
 ObjectId('5cb1f815ce30ce311cc75d36'),
 ObjectId('5cb1f815ce30ce311cc75d37'),
 ObjectId('5cb1f815ce30ce311cc75d38'),
 ObjectId('5cb1f815ce30ce311cc75d39'),
 ObjectId('5cb1f815ce30ce311cc75d3a'),
 ObjectId('5cb1f815ce30ce311cc75d3b'),
 ObjectId('5cb1f815ce30ce311cc75d3c'),
 ObjectId('5cb1f815ce30ce311cc75d3d'),
 ObjectId('5cb1f815ce30ce311cc75d3e'),
 ObjectId('5cb1f815ce30ce311cc75d3f'),
 ObjectId('5cb1f815ce30ce311cc75d40'),
 ObjectId('5cb1f815ce30ce311cc75d41'),
 ObjectId('5cb1f815ce30ce311cc75d42'),
 ObjectId('5cb1f815ce30ce311cc75d43'),
 ObjectId('5cb1f815ce30ce311cc75d44'),
 ObjectId('5cb1f815ce30ce311cc75d45'),
 ObjectId('5cb1f815ce30ce311cc75d46'),
 ObjectId('5cb1f815ce30ce311cc75d47'),
 ObjectId('5cb1f815ce30ce311cc75d48'),
 ObjectId('5cb1f815ce30ce311cc75d49'),
 ObjectId('5cb1f815ce30ce311cc75d4a'),
 ObjectId('5cb1f815ce30ce311cc75d4b'),
 ObjectId('5cb1f815ce30ce311cc75d4c'),
 ObjectId('5cb1f815ce30ce311cc75d4d'),
 ObjectId('5cb1f815ce30ce311cc75d4e'),
 ObjectId('5cb1f815ce30ce311cc75d4f'),
 ObjectId('5cb1f815ce30ce311cc75d50'),
 ObjectId('5cb1f815ce30ce311cc75d51'),
 ObjectId('5cb1f815ce30ce311cc75d52'),
 ObjectId('5cb1f815ce30ce311cc75d53'),
 ObjectId('5cb1f815ce30ce311cc75d54'),
 ObjectId('5cb1f815ce30ce311cc75d55'),
 ObjectId('5cb1f815ce30ce311cc75d56'),
 ObjectId('5cb1f815ce30ce311cc75d57'),
 ObjectId('5cb1f815ce30ce311cc75d58'),
 ObjectId('5cb1f815ce30ce311cc75d59'),
 ObjectId('5cb1f815ce30ce311cc75d5a'),
 ObjectId('5cb1f815ce30ce311cc75d5b'),
 ObjectId('5cb1f815ce30ce311cc75d5c'),
 ObjectId('5cb1f815ce30ce311cc75d5d'),
 ObjectId('5cb1f815ce30ce311cc75d5e'),
 ObjectId('5cb1f815ce30ce311cc75d5f'),
 ObjectId('5cb1f815ce30ce311cc75d60'),
 ObjectId('5cb1f815ce30ce311cc75d61'),
 ObjectId('5cb1f815ce30ce311cc75d62'),
 ObjectId('5cb1f815ce30ce311cc75d63'),
 ObjectId('5cb1f815ce30ce311cc75d64'),
 ObjectId('5cb1f815ce30ce311cc75d65'),
 ObjectId('5cb1f815ce30ce311cc75d66'),
 ObjectId('5cb1f815ce30ce311cc75d67'),
 ObjectId('5cb1f815ce30ce311cc75d68'),
 ObjectId('5cb1f815ce30ce311cc75d69'),
 ObjectId('5cb1f815ce30ce311cc75d6a'),
 ObjectId('5cb1f815ce30ce311cc75d6b'),
 ObjectId('5cb1f815ce30ce311cc75d6c'),
 ObjectId('5cb1f815ce30ce311cc75d6d'),
 ObjectId('5cb1f815ce30ce311cc75d6e'),
 ObjectId('5cb1f815ce30ce311cc75d6f'),
 ObjectId('5cb1f815ce30ce311cc75d70'),
 ObjectId('5cb1f815ce30ce311cc75d71'),
 ObjectId('5cb1f815ce30ce311cc75d72'),
 ObjectId('5cb1f815ce30ce311cc75d73'),
 ObjectId('5cb1f815ce30ce311cc75d74'),
 ObjectId('5cb1f815ce30ce311cc75d75'),
 ObjectId('5cb1f815ce30ce311cc75d76'),
 ObjectId('5cb1f815ce30ce311cc75d77'),
 ObjectId('5cb1f815ce30ce311cc75d78'),
 ObjectId('5cb1f815ce30ce311cc75d79'),
 ObjectId('5cb1f815ce30ce311cc75d7a'),
 ObjectId('5cb1f815ce30ce311cc75d7b'),
 ObjectId('5cb1f815ce30ce311cc75d7c'),
 ObjectId('5cb1f815ce30ce311cc75d7d'),
 ObjectId('5cb1f815ce30ce311cc75d7e'),
 ObjectId('5cb1f815ce30ce311cc75d7f'),
 ObjectId('5cb1f815ce30ce311cc75d80'),
 ObjectId('5cb1f815ce30ce311cc75d81'),
 ObjectId('5cb1f815ce30ce311cc75d82')]

In [22]:
db_cm = mng_db['car_details' ]

db_cm.remove()
db_cm.insert(json.loads(details_json))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

[ObjectId('5cb1f815ce30ce311cc75d83'),
 ObjectId('5cb1f815ce30ce311cc75d84'),
 ObjectId('5cb1f815ce30ce311cc75d85'),
 ObjectId('5cb1f815ce30ce311cc75d86'),
 ObjectId('5cb1f815ce30ce311cc75d87'),
 ObjectId('5cb1f815ce30ce311cc75d88'),
 ObjectId('5cb1f815ce30ce311cc75d89'),
 ObjectId('5cb1f815ce30ce311cc75d8a'),
 ObjectId('5cb1f815ce30ce311cc75d8b'),
 ObjectId('5cb1f815ce30ce311cc75d8c'),
 ObjectId('5cb1f815ce30ce311cc75d8d'),
 ObjectId('5cb1f815ce30ce311cc75d8e'),
 ObjectId('5cb1f815ce30ce311cc75d8f'),
 ObjectId('5cb1f815ce30ce311cc75d90'),
 ObjectId('5cb1f815ce30ce311cc75d91'),
 ObjectId('5cb1f815ce30ce311cc75d92'),
 ObjectId('5cb1f815ce30ce311cc75d93'),
 ObjectId('5cb1f815ce30ce311cc75d94'),
 ObjectId('5cb1f815ce30ce311cc75d95'),
 ObjectId('5cb1f815ce30ce311cc75d96'),
 ObjectId('5cb1f815ce30ce311cc75d97'),
 ObjectId('5cb1f815ce30ce311cc75d98'),
 ObjectId('5cb1f815ce30ce311cc75d99'),
 ObjectId('5cb1f815ce30ce311cc75d9a'),
 ObjectId('5cb1f815ce30ce311cc75d9b'),
 ObjectId('5cb1f815ce30ce311cc75d9c'),
 ObjectId('5cb1f815ce30ce311cc75d9d'),
 ObjectId('5cb1f815ce30ce311cc75d9e'),
 ObjectId('5cb1f815ce30ce311cc75d9f'),
 ObjectId('5cb1f815ce30ce311cc75da0'),
 ObjectId('5cb1f815ce30ce311cc75da1'),
 ObjectId('5cb1f815ce30ce311cc75da2'),
 ObjectId('5cb1f815ce30ce311cc75da3'),
 ObjectId('5cb1f815ce30ce311cc75da4'),
 ObjectId('5cb1f815ce30ce311cc75da5'),
 ObjectId('5cb1f815ce30ce311cc75da6'),
 ObjectId('5cb1f815ce30ce311cc75da7'),
 ObjectId('5cb1f815ce30ce311cc75da8'),
 ObjectId('5cb1f815ce30ce311cc75da9'),
 ObjectId('5cb1f815ce30ce311cc75daa'),
 ObjectId('5cb1f815ce30ce311cc75dab'),
 ObjectId('5cb1f815ce30ce311cc75dac'),
 ObjectId('5cb1f815ce30ce311cc75dad'),
 ObjectId('5cb1f815ce30ce311cc75dae'),
 ObjectId('5cb1f815ce30ce311cc75daf'),
 ObjectId('5cb1f815ce30ce311cc75db0'),
 ObjectId('5cb1f815ce30ce311cc75db1'),
 ObjectId('5cb1f815ce30ce311cc75db2'),
 ObjectId('5cb1f815ce30ce311cc75db3'),
 ObjectId('5cb1f815ce30ce311cc75db4'),
 ObjectId('5cb1f815ce30ce311cc75db5'),
 ObjectId('5cb1f815ce30ce311cc75db6'),
 ObjectId('5cb1f815ce30ce311cc75db7'),
 ObjectId('5cb1f815ce30ce311cc75db8'),
 ObjectId('5cb1f815ce30ce311cc75db9'),
 ObjectId('5cb1f815ce30ce311cc75dba'),
 ObjectId('5cb1f815ce30ce311cc75dbb'),
 ObjectId('5cb1f815ce30ce311cc75dbc'),
 ObjectId('5cb1f815ce30ce311cc75dbd'),
 ObjectId('5cb1f815ce30ce311cc75dbe'),
 ObjectId('5cb1f815ce30ce311cc75dbf'),
 ObjectId('5cb1f815ce30ce311cc75dc0'),
 ObjectId('5cb1f815ce30ce311cc75dc1'),
 ObjectId('5cb1f815ce30ce311cc75dc2'),
 ObjectId('5cb1f815ce30ce311cc75dc3'),
 ObjectId('5cb1f815ce30ce311cc75dc4'),
 ObjectId('5cb1f815ce30ce311cc75dc5'),
 ObjectId('5cb1f815ce30ce311cc75dc6'),
 ObjectId('5cb1f815ce30ce311cc75dc7'),
 ObjectId('5cb1f815ce30ce311cc75dc8'),
 ObjectId('5cb1f815ce30ce311cc75dc9'),
 ObjectId('5cb1f815ce30ce311cc75dca'),
 ObjectId('5cb1f815ce30ce311cc75dcb'),
 ObjectId('5cb1f815ce30ce311cc75dcc'),
 ObjectId('5cb1f815ce30ce311cc75dcd'),
 ObjectId('5cb1f815ce30ce311cc75dce'),
 ObjectId('5cb1f815ce30ce311cc75dcf'),
 ObjectId('5cb1f815ce30ce311cc75dd0'),
 ObjectId('5cb1f815ce30ce311cc75dd1'),
 ObjectId('5cb1f815ce30ce311cc75dd2'),
 ObjectId('5cb1f815ce30ce311cc75dd3'),
 ObjectId('5cb1f815ce30ce311cc75dd4'),
 ObjectId('5cb1f815ce30ce311cc75dd5'),
 ObjectId('5cb1f815ce30ce311cc75dd6'),
 ObjectId('5cb1f815ce30ce311cc75dd7'),
 ObjectId('5cb1f815ce30ce311cc75dd8'),
 ObjectId('5cb1f815ce30ce311cc75dd9'),
 ObjectId('5cb1f815ce30ce311cc75dda'),
 ObjectId('5cb1f815ce30ce311cc75ddb'),
 ObjectId('5cb1f815ce30ce311cc75ddc'),
 ObjectId('5cb1f815ce30ce311cc75ddd'),
 ObjectId('5cb1f815ce30ce311cc75dde'),
 ObjectId('5cb1f815ce30ce311cc75ddf'),
 ObjectId('5cb1f815ce30ce311cc75de0'),
 ObjectId('5cb1f815ce30ce311cc75de1'),
 ObjectId('5cb1f815ce30ce311cc75de2'),
 ObjectId('5cb1f815ce30ce311cc75de3'),
 ObjectId('5cb1f815ce30ce311cc75de4'),
 ObjectId('5cb1f815ce30ce311cc75de5'),
 ObjectId('5cb1f815ce30ce311cc75de6'),
 ObjectId('5cb1f815ce30ce311cc75de7'),
 ObjectId('5cb1f815ce30ce311cc75de8'),
 ObjectId('5cb1f815ce30ce311cc75de9'),
 ObjectId('5cb1f815ce30ce311cc75dea'),
 ObjectId('5cb1f815ce30ce311cc75deb'),
 ObjectId('5cb1f815ce30ce311cc75dec'),
 ObjectId('5cb1f815ce30ce311cc75ded'),
 ObjectId('5cb1f815ce30ce311cc75dee'),
 ObjectId('5cb1f815ce30ce311cc75def'),
 ObjectId('5cb1f815ce30ce311cc75df0'),
 ObjectId('5cb1f815ce30ce311cc75df1'),
 ObjectId('5cb1f815ce30ce311cc75df2'),
 ObjectId('5cb1f815ce30ce311cc75df3'),
 ObjectId('5cb1f815ce30ce311cc75df4'),
 ObjectId('5cb1f815ce30ce311cc75df5'),
 ObjectId('5cb1f815ce30ce311cc75df6'),
 ObjectId('5cb1f815ce30ce311cc75df7'),
 ObjectId('5cb1f815ce30ce311cc75df8'),
 ObjectId('5cb1f815ce30ce311cc75df9'),
 ObjectId('5cb1f815ce30ce311cc75dfa'),
 ObjectId('5cb1f815ce30ce311cc75dfb'),
 ObjectId('5cb1f815ce30ce311cc75dfc'),
 ObjectId('5cb1f815ce30ce311cc75dfd'),
 ObjectId('5cb1f815ce30ce311cc75dfe'),
 ObjectId('5cb1f815ce30ce311cc75dff'),
 ObjectId('5cb1f815ce30ce311cc75e00'),
 ObjectId('5cb1f815ce30ce311cc75e01'),
 ObjectId('5cb1f815ce30ce311cc75e02'),
 ObjectId('5cb1f815ce30ce311cc75e03'),
 ObjectId('5cb1f815ce30ce311cc75e04'),
 ObjectId('5cb1f815ce30ce311cc75e05'),
 ObjectId('5cb1f815ce30ce311cc75e06'),
 ObjectId('5cb1f815ce30ce311cc75e07'),
 ObjectId('5cb1f815ce30ce311cc75e08'),
 ObjectId('5cb1f815ce30ce311cc75e09'),
 ObjectId('5cb1f815ce30ce311cc75e0a'),
 ObjectId('5cb1f815ce30ce311cc75e0b'),
 ObjectId('5cb1f815ce30ce311cc75e0c'),
 ObjectId('5cb1f815ce30ce311cc75e0d'),
 ObjectId('5cb1f815ce30ce311cc75e0e'),
 ObjectId('5cb1f815ce30ce311cc75e0f'),
 ObjectId('5cb1f815ce30ce311cc75e10'),
 ObjectId('5cb1f815ce30ce311cc75e11'),
 ObjectId('5cb1f815ce30ce311cc75e12'),
 ObjectId('5cb1f815ce30ce311cc75e13'),
 ObjectId('5cb1f815ce30ce311cc75e14'),
 ObjectId('5cb1f815ce30ce311cc75e15'),
 ObjectId('5cb1f815ce30ce311cc75e16'),
 ObjectId('5cb1f815ce30ce311cc75e17'),
 ObjectId('5cb1f815ce30ce311cc75e18'),
 ObjectId('5cb1f815ce30ce311cc75e19'),
 ObjectId('5cb1f815ce30ce311cc75e1a'),
 ObjectId('5cb1f815ce30ce311cc75e1b'),
 ObjectId('5cb1f815ce30ce311cc75e1c'),
 ObjectId('5cb1f815ce30ce311cc75e1d'),
 ObjectId('5cb1f815ce30ce311cc75e1e'),
 ObjectId('5cb1f815ce30ce311cc75e1f')]

In [23]:
db_cm = mng_db['manufacturer_aggregate' ]

db_cm.remove()
db_cm.insert(json.loads(manufacturer_input_json))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

[ObjectId('5cb1f815ce30ce311cc75e20'),
 ObjectId('5cb1f815ce30ce311cc75e21'),
 ObjectId('5cb1f815ce30ce311cc75e22'),
 ObjectId('5cb1f815ce30ce311cc75e23'),
 ObjectId('5cb1f815ce30ce311cc75e24'),
 ObjectId('5cb1f815ce30ce311cc75e25'),
 ObjectId('5cb1f815ce30ce311cc75e26'),
 ObjectId('5cb1f815ce30ce311cc75e27'),
 ObjectId('5cb1f815ce30ce311cc75e28'),
 ObjectId('5cb1f815ce30ce311cc75e29'),
 ObjectId('5cb1f815ce30ce311cc75e2a'),
 ObjectId('5cb1f815ce30ce311cc75e2b'),
 ObjectId('5cb1f815ce30ce311cc75e2c'),
 ObjectId('5cb1f815ce30ce311cc75e2d'),
 ObjectId('5cb1f815ce30ce311cc75e2e'),
 ObjectId('5cb1f815ce30ce311cc75e2f'),
 ObjectId('5cb1f815ce30ce311cc75e30'),
 ObjectId('5cb1f815ce30ce311cc75e31'),
 ObjectId('5cb1f815ce30ce311cc75e32'),
 ObjectId('5cb1f815ce30ce311cc75e33'),
 ObjectId('5cb1f815ce30ce311cc75e34'),
 ObjectId('5cb1f815ce30ce311cc75e35'),
 ObjectId('5cb1f815ce30ce311cc75e36'),
 ObjectId('5cb1f815ce30ce311cc75e37'),
 ObjectId('5cb1f815ce30ce311cc75e38'),
 ObjectId('5cb1f815ce30ce311cc75e39'),
 ObjectId('5cb1f815ce30ce311cc75e3a'),
 ObjectId('5cb1f815ce30ce311cc75e3b'),
 ObjectId('5cb1f815ce30ce311cc75e3c'),
 ObjectId('5cb1f815ce30ce311cc75e3d')]